body {
  background: #E7EAEF
}
li{
  list-style: none;
}


/* 메세지 전체 리스트 [송,수신]*/
#messages{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* 송신 */
.senderbox{
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  white-space: pre-line;
  flex-direction: column;
}
.sendertoday{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.sender{
  width: fit-content;
  background-color: #F0FFF6;
  padding: 8px;
  border-radius: 5px;
}
.sendertime{
  margin-top: 6px;
  color: black;
  font-size: 12px;
}

/* 금일 첫번쨰인지 여부 [밑출 + 앨범 등등] */
.today_active{
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today_text{
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  background: white;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.today_active::before{
	content:"";
	flex-grow:1;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.today_active::after {
	content:"";
	flex-grow:1;
	background:rgba(0,0,0,0.35);
	height:1px;
	font-size:0px;
	line-height: 0px;
}
.today_total_box{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  white-space: pre-line;
  flex-direction: column;
}
.today_second_box{
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 10px;
}

/* 금일 첫번쨰인지 여부 [밑출 + 앨범 등등] */



.total{
  width: 100%; 
  height:800px; 
  background: #E7EAEF;
   display: flex;
  flex-direction: column;
}

/* 수신 */
.receiverbox{
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 10px;
}
.receive_sendertoday{
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-top: 10px;
}
.receiversecond{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin-top: 10px;
}
.receiversecond_today{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
 margin-top: -35px;
  margin-left: 50px;
}
.chat_image{
  width: 240px;
  height: auto;
}
.receivetext{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
.receivetime{
  margin-top: 6px;
  color: black;
  font-size: 12px;
}
.receiverimgae{
  width: 36px;
  height: 36px;
  margin-right: 10px;
}


/* 명함 전체 */
.businesscard_full{
  width: 324px;
  height: 260px;
  display: flex;
  flex-direction: row;
  background-image: url("https://scrapmarket.s3.ap-northeast-2.amazonaws.com/img/papertexture.png");
}

/* 로고 */
.businesscard_logo{
  width: 56px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
.businesscard_logo_img{
  width: 40px;
  height: 40px;
}

/* 명함 정보 [전체] */
.businesscard_information{
  display: flex;
  flex-direction: column;
}

/* 명함 정보 [닉네임 이름 직급] */
.businesscard_info_first{
  display: flex;
  flex-direction: row;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  width: 260px;
  height: 77px;
  margin-top: 6px;
  margin-right: 6px;
}
.businesscard_info_first_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8181FF;
  width: 28px;
  height: 77px;
}
.businesscard_info_first_logo_img{
  width: 16.33px;
  height: auto;
}
.businesscard_info_first_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 230px;
  margin-left: 6px;
}
.businesscard_info_nickname{
  display: flex;
  flex-direction: row;   
  height: 20px;
}
.businesscard_info_nickname_title{
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  width: 60px;
}
.businesscard_info_nickname_data{
  font-weight:400;
  font-size: 14px;
  margin-left: 4px;
  height: 20px;
}

.businesscard_info_name{
  display: flex;
  flex-direction: row;   
  height: 20px;
  margin-top: 4px;
}
.businesscard_info_name_title{
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  width: 60px;
}
.businesscard_info_name_data{
  font-weight:400;
  font-size: 14px;
  margin-left: 4px;
  height: 20px;
}

.businesscard_info_position{
  display: flex;
  flex-direction: row;   
  height: 20px;
  margin-top: 4px;
}
.businesscard_info_position_title{
  font-weight: bold;
  font-size: 14px;
  height: 20px;
  width: 60px;
}
.businesscard_info_position_data{
  font-weight:400;
  font-size: 14px;
  margin-left: 4px;
  height: 20px;
}


/* 명함 정보 [회사명 지역 상세주소] */
.businesscard_info_second{
  display: flex;
  flex-direction: row;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  width: 260px;
  height: 77px;
  margin-top: 8px;
  margin-right: 6px;
}
.businesscard_info_second_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7373;
  width: 28px;
  height: 77px;
}
.businesscard_info_second_logo_img{
  width: 16.33px;
  height: auto;
}
.businesscard_info_second_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 230px;
  margin-left: 6px;
}

/* 명함 정보 [휴대전화 전화 이메일] */
.businesscard_info_third{
  display: flex;
  flex-direction: row;
  border-radius: 0px 10px 10px 0px;
  background-color: white;
  width: 260px;
  height: 77px;
  margin-top: 8px;
  margin-right: 6px;
}
.businesscard_info_third_logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEF64;
  width: 28px;
  height: 77px;
}
.businesscard_info_third_logo_img{
  width: 16.33px;
  height: auto;
}
.businesscard_info_third_list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 230px;
  margin-left: 6px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 검은색 배경색상 및 투명도 조절 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98; /* 모달이 위에 표시되도록 설정 */
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  cursor: pointer;
}

.modal-image:hover {
  opacity: 0.8; /* 마우스 호버 시 이미지 투명도 조절 */
}
.fixed-text {
  position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 15px;
    /* text-decoration: underline; */
    /* background: red; */
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back_arrow_image{
  width: auto;
  height: 20px;
}
.save_img{
  width: auto;
  height: 24px;
}
.span_nickname_text{
  width: 80%;
  height: 100%;
  display: flex;
  justify-self: flex-start;
  align-items: center;
  margin-left: 20px;
}
.fixed-text {
  position: absolute;
  top: 0px; /* 상단 위치 조절 */
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 18px;
}
.modal_save{
  background: white;
  width: 190px;
  height: 40px;
  z-index: 99;
  position: absolute;
  top: 40px;
  right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
