body {
  background: #E7EAEF
}
li{
  list-style: none;
}
#messages{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
}
.senderbox{
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  white-space: pre-line;
  flex-direction: column;
}
.sendertoday{
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
.today_total_box{
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  white-space: pre-line;
  flex-direction: column;
}
.total{
  width: 100%; 
  height:800px; 
  background: #E7EAEF;
   display: flex;
  flex-direction: column;
}
.sender{
  width: fit-content;
  background-color: #F0FFF6;
  padding: 8px;
  border-radius: 5px;
}
.sendertime{
  margin-top: 6px;
  color: black;
  font-size: 12px;
}

.receiverbox{
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 10px;
}
.receiversecond{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  margin-top: 10px;
}
.receivetext{
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
.receivetime{
  margin-top: 6px;
  color: black;
  font-size: 12px;
}
.receiverimgae{
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

/* .test {
  background: #F0FFF6;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  float: right;
  border-radius: 5px;
  font-weight: 400;
font-size: 14px;
margin-top: 10px;
}
.dfgjhkd{
  background: white;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  width: fit-content;
  border-radius: 5px;
  font-weight: 400;
font-size: 14px;
margin-top: 10px;
} */
